<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pokémon</title>
</head>
<body>
    <h1>Edit Pokémon</h1>
    <form action="/pokemon/<%=pokemonId%>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Name: <input type="text" name="name" value="<%=pokemon.name%>" /><br />
        TYPE:<input type="text" name="type" value="<%=pokemon.type%>" /><br />
        HP: <input type="text" name="hp" value="<%=pokemon.stats.hp%>" /><br />
        ATTACK: <input type="text" name="attack" value="<%=pokemon.stats.attack%>" /><br />
        DEFENSE: <input type="text" name="defense" value="<%=pokemon.stats.defense%>" /><br />
        <input type="submit" name="" value="Submit Changes" />
      </form> 
</body>
</html>