<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Index</title>
</head>
<body>
    <h1>Pokédex</h1>
    <nav>
        <a href ="/pokemon/new">Create a New Pokémon</a>
    </nav>
    <ul>
        <% for (i=0; i < allPokemon.length; i++) {%>
        <li>
            <h2><a href="/pokemon/<%= i %>"><%= allPokemon[i].name %> </a></h2>
            <a href="/pokemon/<%=i %>"><img src=<%=allPokemon[i].img %>></a> 
            <form action="/pokemon/<%=i %>?_method=DELETE" method="POST" ></form>
                <input type="submit" value="DELETE" />
                <form>
                    <a href="/pokemon/<%= i %>/edit">Edit Pokémon</a>
                </form>
        </li>
    <% } %>
    </ul>
</body>
</html>