<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Pokemon Show</title>
</head>
<header>
    <a href="/pokemon/">Back to Pokédex</a>
</header>
<body>
    <div class="container">
        <h1>Pokédex</h1>
        <h2><%=pokemonId.name%> %></h2>
        <div class="photo">
            <img src=<%=pokemonId.img %> alt="">
        </div>
        <h2><u>STATS:</u></h2>
        <ul>
            <li><strong>TYPE:</strong><%= pokemonId.type %> </li>
            <li><strong>HP:</strong><%= pokemonId.stats.hp %> </li>
            <li><strong>ATTACK:</strong><%= pokemonId.stats.attack %> </li>
            <li><strong>DEFENSE:</strong><%= pokemonId.stats.defense %> </li>
        </ul>
    </div>
</body>
</html>